@import '../../../../shared/styles/constants';

.progress-bar-container {
  height: 10px;
  background-color: $background-progress-bar;
  transition: height 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.progress-bar-container:hover {
  .progress-bar, .progress-buffered {
    height: 10px;
  }
}

.progress-buffered {
  position: absolute;
  background-color: $background-progress-bar-buffered;
  height: 5px;
}

.progress-bar {
  position: absolute;
  height: 5px;
  background-color: $background-progress-bar-line;
  width: 0;
}

.progress-thumb {
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}