<div class="progress-bar-container">
    <div class="progress-bar-wrapper"
         #progressBarWrapper
         (mousemove)="moving($event)"
         (mousedown)="startMoving($event)"
         (mouseenter)="onMouseEnter()"
         (mouseleave)="onMouseLeave()">
        <div class="progress-bar-padding"></div>
        <div class="progress-buffered" [style.width.%]="buffered()"></div>
        <div class="progress-bar" [style.width.%]="progress()"></div>
        <div class="progress-thumb"
             [style.left.%]="progress()"
             (mouseup)="stopMoving()"
             (mousemove)="notMoving($event)"
        ></div>
        <div class="progress-bar-hover" [style.width.%]="hover()"></div>
    </div>
</div>