<div class="video-selection">
    <div class="video-selection-drag-on-drop">
        <div class="video-selection-card border-outside">
            <div class="video-selection-title">
                Select video file:
            </div>
            <button>Open file</button>
            <p>or</p>
            <div class="video-selection-by-url">
                <input type="text" placeholder="video url">
                <button>Load by url</button>
            </div>
            <p>or <br> drag and drop the file into the window</p>
        </div>
    </div>
</div>
