<div class="video-selection">
    <div class="video-selection-drag-on-drop">
        <div class="video-selection-card border-outside">
            <div class="video-selection-title">
                Select video file:
            </div>
            <lmp-default-btn>Open file</lmp-default-btn>
            <p>or</p>
            <div class="video-selection-by-url">
                <input type="text" placeholder="video url" class="border-outside">
                <lmp-default-btn>Load by url</lmp-default-btn>
            </div>
            <p>or <br> drag and drop the file into the window</p>
        </div>
    </div>
</div>
