.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

video {
    background-color: #000;
    flex: 1;
    height: 0;
}

.control-panel__fullscreen-mode {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}