:host {
    flex-direction: column;
    padding-bottom: 8px;
    background-color: #051519;
}

:host, .row {
    display: flex;
    gap: 8px;
}

.row {
    padding: 0 8px;

    & lmp-icon-toggle-btn:last-child {
        margin-left: auto;
    }
}