<lmp-time-tooltip></lmp-time-tooltip>
<lmp-progress-bar></lmp-progress-bar>
<div class="row">
    <lmp-icon-toggle-btn
            btnSize="38"
            iconSize="27"
            enabledIcon="assets/images/pause.svg"
            disabledIcon="assets/images/play.svg"
            [status]="playingStatus()"
            (onClick)="togglePlayVideo()"
    ></lmp-icon-toggle-btn>
    <lmp-time-display [totalTime]="totalDurationInSeconds()" [currentTime]="currentPlaybackTimeInSeconds()"></lmp-time-display>
    <lmp-icon-toggle-btn btnSize="38"
                         iconSize="27"
                         enabledIcon="assets/images/fullscreen.svg"
                         disabledIcon="assets/images/fullscreen-exit.svg"
                         [status]="fullscreenStatus()"
                         (onClick)="toggleFullscreen()"
    ></lmp-icon-toggle-btn>
</div>
