@import '../../../../shared/styles/constants.scss';

:host {
  display: flex;
  gap: 8px;
  height: min-content;
  cursor: default;
  user-select: none;

  & > div {
    padding: 2px 8px;
    border: 2px solid $border-time-display;
  }
}
