@import 'color.scss';

$text-color: #e7e8e9;

$background: #051519;
$background-btn: none;
$background-btn-hover: none;
$background-btn-active: none;
$background-card: none;
$background-input: none;

$border-main-window: #383939;
$border-btn: none;
$border-btn-hover: none;
$border-btn-active: none;
$border-card: none;
$border-input: none;

$border-radius-btn: 4px;
$border-radius-card: 8px;
$border-radius-input: 4px;

$padding-btn: 4px;
$padding-card: 8px;
$padding-input: 4px;
