@import 'color.scss';

$text-color: #e7e8e9;
$text-color-hover: #e7e8e9;
$text-color-active: #e3395e;
$text-size: 13px;
$text-font: 'Courier New', 'Consolas', monospace;
$text-weight: bold;

$background: #051519;
$background-btn: #051519;
$background-btn-hover: #262626;
$background-btn-active: #262626;
$background-card: none;
$background-input: none;
$background-title-bar: #051519;
$background-progress-bar: #262626;
$background-progress-bar-hover: rgba(#b3bec1, 0.5);
$background-progress-bar-border: #84969a;
$background-progress-bar-container: #383939;
$background-progress-bar-line: #f8818e;
$background-progress-bar-buffered: #5e6f73;
$background-progress-bar-thumb: #e5395f;
$background-time-display: #383939;

$border-main-window: #383939;
$border-btn: #383939;
$border-btn-hover: #383939;
$border-btn-active: #e8586e;
$border-card: none;
$border-input: #383939;
$border-drag-on-drop: #383939;

$border-radius-btn: 4px;
$border-radius-card: 8px;
$border-radius-input: 4px;

$padding-btn: 4px 8px;
$padding-card: 12px;
$padding-window: 12px;
$padding-input: 4px 8px;

$svg-btn-color: #e7e8e9;
$svg-btn-color-hover: #e7e8e9;
$svg-btn-color-active: #e3395e;

$height-title-bar: 40px;