@import 'color.scss';
@import 'constants.scss';

body {
  background-color: $background;
  font-family: $text-font;
  font-weight: $text-weight;
  margin: 0;
  border: 4px solid $border-main-window;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: $text-color;
  font-size: $text-size;
}

video {
  display: flex;
  width: 100%;
  height: 100%;
}

img {
  display: block;
  user-select: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background: none;
  color: $text-color;
  font-family: $text-font;
  font-size: $text-size;
  font-weight: $text-weight;
  padding: $padding-btn;
  border: 2px solid $border-btn;

  & svg > g {
    stroke: $svg-btn-color;
    fill: $svg-btn-color;
  }

  &:hover {
    color: $text-color-hover;
    border-color: $border-btn-hover;
    background-color: $background-btn-hover;

    & svg > g {
      stroke: $svg-btn-color-hover;
      fill: $svg-btn-color-hover;
    }
  }

  &:active {
    color: $text-color-active;
    border-color: $border-btn-active;
    background-color: $background-btn-active;

    & svg > g {
      stroke: $svg-btn-color-active;
      fill: $svg-btn-color-active;
    }
  }
}

input {
  font-family: $text-font;
  font-size: $text-size;
  font-weight: $text-weight;
  border: 2px solid $border-input;
  background: $background-input;
  padding: $padding-input;
  color: $text-color;
  outline: none;
}

.card {
  border: 2px solid $border-input;
  padding: $padding-card;
}