@import 'color.scss';
@import 'constants.scss';

body {
  background-color: $background;
  font-family: $text-font;
  font-weight: $text-weight;
  margin: 0;
  border: 4px solid $border-main-window;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: $text-color;
  font-size: $text-size;
}

video {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  user-select: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background: none;
  color: $text-color;
  font-family: $text-font;
  font-size: $text-size;
  font-weight: $text-weight;
  padding: $padding-btn;
  border: 2px solid $border-btn;

  &:hover {
    color: $text-color-hover;
    border-color: $border-btn-hover;
    background-color: $background-btn-hover;
  }

  &:active {
    color: $text-color-active;
    border-color: $border-btn-active;
    background-color: $background-btn-active;
  }
}